.descriptionContainer {
  background-color: var(--ion-color-secondary);
  padding: 5%;
  color: var(--ion-color-tertiary-tint);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1%;
  max-height: 100vh;
}
